.sidebar-element {
  transition: background-color .2s;
}

.sidebar-element-selected {
  background-color: var(--primary-color);
  color: var(--surface-50) !important;
}

.sidebar-element:hover {
  background-color: var(--surface-100);
}

.sidebar-element-selected:hover {
  background-color: var(--primary-600);
}
