<div class="grid grid-nogutter">
  <div class="col-12 xl:col-2 bg-primary-900 sidebar shadow-7">
    <div class="w-full text-center mt-5 mb-6">
      <span>Welcome</span>
    </div>
    <div class="p-3 flex flex-column align-items-center align-items-start">
      <div class="p-1 sidebar-entry">
        <i class="pi pi-home mr-3"></i>
        Overview
      </div>
      <div class="p-1 mt-3 sidebar-entry">
        <i class="pi pi-list mr-3"></i>
        Groups
      </div>
      <div class="p-1 mt-3 sidebar-entry">
        <i class="pi pi-user mr-3"></i>
        Users
      </div>
      <div class="p-1 mt-3 sidebar-entry">
        <i class="pi pi-bolt mr-3"></i>
        Administration
      </div>
    </div>
  </div>
</div>
