@import "primeng/resources/themes/arya-green/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
}
